* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 100%;
  max-width: 1900px;
  margin-left: 0;
  padding-left: 0;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}
.navbar-menu-container {
  display: none;
}
.navbar-links-container a {
  margin-right: 0rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}


/* Home component */

.home-container {
  background-image: url('./assets/home-banner-background.png'); /* Replace with the path to your background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-left: 5%;
}

hr {
  border: 1px solid #fff;
  border-color: #E8EBD5;
  width: 50%;
  margin-bottom: 1rem;
  color: #E8EBD5;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home-text-section {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #E8EBD5;
  max-width: 600px;
}

.home-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #E8EBD5;
  margin: 1.5rem 0rem;
}

.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}


.home-image-section {
  max-width: 600px;
  flex: 1;
}

/* End Home component */

/* About component */

.about-container {
  padding: 0%;
  margin-bottom: -20%;
}

.about-title {
  font-size: clamp(0rem, 5vw, 4rem);
  font-size: xx-large;
  color: #522A83;
  max-width: 600px;
}

.about-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-size: medium;
  max-width: 500px;
  color: #522A83;
  margin: 1.5rem 0rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.label-newline {
  display: block;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.join-now-button {
  background-color: #E4BD5B;
  border: none;
  margin-bottom: 1rem;
}

.about-image {
  height: 70%;
  width: auto;
}

/* End About component */

/* Services component */

.services-container {
  background-color: #522A83;
  padding: 2rem;
}

.services-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 5%;
}

.services-title {
  font-size: 3rem;
  color: #E8EBD5;
  margin-bottom: -10%;
  padding-left: 15%;
  margin-top: -10%;
}

.services-content {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: -10%;
}

.service-image {
  max-width: 100%;
  height: 50%;
}

.service-text {
  font-size: 1.25rem;
  color: #E8EBD5;
  margin-bottom: 1rem;
}

/* End of Services component */

/* Footer component */

.footer-container {
  background-color: #fff;
  padding: 2rem;
  color: #fff;
}

.footer-logo,
.footer-text,
.footer-social {
  display: flex;
  align-items: center;
  color: #000;
  justify-content: center;
}

.logo-image {
  height: 70%;
  width: auto;
  margin-left: 5%;
  
}

.footer-text {
  justify-content: center;
}

.footer-social {
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;
}

.social-icon a {
  font-size: 2rem;
  margin-left: 1rem;
  color: #522A83;
  padding-right: 10%;
  justify-content: space-between;
  
}

.social-icon:hover a:hover {
  color: #E4BD5B;
}

.center {
  text-align: center;
  color: #000;
}

/* End of Footer component */

.nav-container {
  margin-left: 0;
  margin-right: 0;
}

.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 10rem;
}
.footer-logo-container {
  max-width: 110px;
}
.footer-icons {
  margin-top: 2.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}

.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}



/* Password component */

.update-password-row {
  margin-bottom: -23%;
}

.update-password-container{
  background-color: #522A83;
  padding: 3rem;
}

.update-password-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* End Password Component */

.update-personal-info-container {
  background-color: #fff;
  padding-bottom : 5rem;
  
}