@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

/* Base
    ============================= */
  * {
      box-sizing: border-box;
    }

  body {
      margin: 0;
      padding: 0;
      font-family: var(--font-family-base);
      font-size: var(--font-size-medium);
      font-weight: var(--fw-regular);
      line-height: 1.5;
      color: var(--color-black);
      background-color: var(--color-white);
      text-align: left;
      text-decoration: none;
      text-transform: none;
      text-shadow: none;
      letter-spacing: normal;
    }

  :root {
      --primary-clr: #522A83;
      --gold-clr: #FFD700;
      --call-to-action: #E4BD5B; 
      --color-black: #090909;
      --color-white: #ffffff;
      --clr-red: #A2052C;
      --clr-russet: #80421F;
      --clr-brownsugar: #BB6949;
      --clr-whitechoco: #E8EBD5;

      --text-color: var(--color-white);
      --gold-text: var(--gold-clr);
      --valid-color: var(--color-white);
      --error-color: var(--color-red);

      --font-family-base: 'Aladin', cursive;
      --font-family-title: 'Aladin', cursive;

      --font-size-small: 1.2rem;
      --font-size-medium: 1.6rem;
      --font-size-large: 1.8rem;
      --font-size-x-large: 2.3rem;
      --font-size-xx-large: 4.8rem;

      --fw-light: 300;
      --fw-regular: 400;
      --fw-semibold: 600;
      --fw-bold: 700;
      --fw-black: 900;
  }

  /* Global
 =============================*/
  .App-container{
      border: 1.5px solid var(--primary-clr)!important;
      border-radius: 5px;
      margin: 0 auto;
      padding: 0 1rem;
      max-width: 1200px !important;
      max-width: 1200px !important;
      background-color: var(--color-white);
      color: var(--color-black);
      font-family: var(--font-family-base);
      font-weight: var(--fw-regular);
      font-size: var(--font-size-small)!important;
      line-height: 1.5;
      text-decoration: none ;
      text-transform: none;
      letter-spacing: normal;
  }