# Node modules
node_modules

# Environment variables
.env

# Built files
build/
dist/
*.log

# Flutter build files
ios/Pods/
ios/Flutter/
android/.gradle/
android/app/build/
android/build/
android/gradle/
.buildlog
.packages
.packages.lock
pubspec.lock
/build/
