/*** LOGIN ***/
.login-form {
    background-color: var(--call-to-action) !important;
    padding: 30px;
    max-width: 325px;
    max-height: 400px;
}

.login-btn {
    display: block;
    text-decoration: none !important;
    background-color: var(--primary-clr) !important;
    color: var(--call-to-action) !important;
    border-color: var(--call-to-action) !important;
    font-size: var(--font-size-small) !important;
    font-weight: var(--fw-bold);
    margin: 0 0 0 35%;
}

.register-here {
    text-decoration: none;
    color: var(--primary-clr);
}

.register-here:hover {
    color: var(--clr-red);
}



.password-input-container {
    position: relative;
}

.password-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem 1rem 1rem 1rem;
    color: var(--primary-clr);
    cursor: pointer;
}