/*** HOMEPAGE ***/
/* Header
  ============================= */
/* Homepage NavBar Component */

.home-banner-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.brand {
    display: flex;
    position: absolute;
}

.left-links{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-300%);
}
.navbar {
    background: var(--primary-clr) !important;
    font-family: var(--font-family-title);
    width: 100%;
    height: 50px;
    display: flex;
    top: 0;
    left: 0;
    z-index: 9999;
}

.nav-items {
    color: var(--call-to-action) !important;
    text-decoration: none;
    height: 50%;
    display: flex;
    align-items: center;
    margin-left: 30%;
}

.nav-items:hover {
    color: var(--color-white) !important;
}

.nav-items:focus {
    box-shadow: var(--color-white) !important;
    color: var(--color-white) !important;
}

.nav-items:active {
    color: var(--clr-red) !important;
}

.btn-signup {
    background-color: var(--call-to-action) !important;
    color: var(--primary-clr) !important;
    font-size: var(--font-size-small) !important;
}

.btn:hover {
    color: var(--color-white) !important;
    font-weight: bold;
}

.btn:focus {
    box-shadow: none !important;
    color: var(--) !important;
}

.btn:active {
    color: var(--clr-red) !important;
    color: inherit;
    text-decoration: none;
    height: 100%;
    padding: .25rem;
}

.btn-warning:hover {
    border-color: var(--primary-clr) !important;
}


.align-end {
    margin-right: 0rem;
    margin-left: 25rem;
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
}

/* End NavBar Component */
/* Homepage Header Component*/

.header-img {
    background-image: url('../../assets/home-banner-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border-radius: 20px;
    width: 100%;
}

.hr-style {
    border: 3px solid;
    width: 60%;
    margin: 3rem 3rem 1rem 4rem;
    color: var(--color-white);
}

.home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--color-white);
    max-width: 700px;
    margin: -9.5rem 0 0 4.5rem !important;  
}

.home-title-section{
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--color-white);
    max-width: 1000px;
    margin: -4rem 0 0 0rem !important; 
}


.text-highlight{
    color: var(--color-white) !important;
    font-weight: var(--fw-bold);
    text-shadow: var(--color-white) 0px 0px 10px;
}

.home-text {
    font-size: clamp(1.5rem, 3vw, 1.5rem);
    max-width: 500px;
    color: var(--color-white);
    margin: 1.5rem 0 0 4rem;
}

.home-text-highlight {
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: var(--call-to-action);
    font-weight: var(--fw-bold);
}

.home-image-section {
    max-width: 600px;
    flex: 1;
}

/* End Homepage Header Component */
/* End Header Section
  ============================= */

/* About Section
  ============================= */

.container1 {
    background-color: var(--primary-clr) !important;
    height: 60px;
    max-width: 1200px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.container2 {
    background-color: var(--call-to-action) !important;
    border: 5px solid var(--primary-clr);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.about-container {
    padding: 0%;
    margin-bottom: -20%;
    margin-top: -5%;
}

.hr-about{
    border: 3px solid var(--clr-red);
    width: 200%;
    margin: 2rem 3rem 1rem 1rem;
    color: var(--clr-red);
}

.about-img {
    height: 60%;
    width: 60%;
    margin-left: 25%;
    margin-top: 20px !important;
    margin-bottom: 50%;
    transform: translateY(50px);
    border-radius: 85%;
    border: 5px solid var(--primary-clr);
}

.about-title {
    margin-top: 20px;
    font-size: clamp(0rem, 5vw, 2.5rem);
    font-weight: var(--fw-bold);
    max-width: 1000px;
    color: var(--color-white);
}

.about-text {
    font-size: var(--font-size-small);
    color: var(--primary-clr);
    margin-top: 2rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-learn {
    margin: 0rem 0 0 0;
    color: var(--color-white) !important;
    background-color: var(--clr-brownsugar) !important;
    border: 2px solid var(--color-white) !important;
    height: 40px !important;
}

.btn-learn:hover {
    color: var(--primary-clr) !important;
    background-color: var(--clr-red) !important;
}


.btn-learn:active {
    color: var(--primary-clr) !important;
    color: inherit;
    text-decoration: none;
    height: 100%;
    padding: .25rem;
}

/* End About Section
  ============================= */
/* Services Section
  ============================= */
.services-container {
    background-color: var(--primary-clr) !important;
    padding: 2rem;
    border: 5px solid var(--color-white);
    box-shadow: 0 0 10px var(--gold-clr);
}

.services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 5%;
}

.services-title {
    font-size: clamp(0rem, 5vw, 4rem);
    color: var(--color-white);
    display: flex;
    justify-content: center;
}

.services-content {
    display: flex;
    justify-content: center;
}

.service-image {
    max-width: 100%;
    height: 50%;
    border-radius: 10%;
    margin: 0 1rem;
    border: 5px solid var(--color-white);
    box-shadow: 0 0 10px var(--gold-clr);
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: -10%;
}

.service-text {
    font-size: var(--font-size-medium);
    color: var(--color-white);
    margin-top: 1rem;
    text-shadow: var(--color-white) 0px 0px 8px;
}

/* Footer
  ============================= */
  .footer{
    background-color: var(--clr-brownsugar) !important;
    padding: 2rem;
    border: 5px solid var(--primary-clr) !important;
    color: var(--color-white);
    text-shadow: var(--color-white) 0px 0px 8px;
  }